<div class="navigation-bar">
  <div class="navigation-icons">
      <a href="{% url 'info_center' %}" class="nav-link {% if active_page == 'info_center' %}active{% endif %}">
          <img 
              src="{% static 'img/infocenter-icon.svg' %}" 
              alt="InfoCenter" 
              class="nav-icon">
      </a>
      <a href="{% url 'map' %}" class="nav-link {% if active_page == 'map' %}active{% endif %}">
          <img 
              src="{% static 'img/map-icon.svg' %}" 
              alt="Map" 
              class="nav-icon">
      </a>
      <a href="{% url 'profile' %}" class="nav-link {% if active_page == 'profile' %}active{% endif %}">
          <img 
              src="{% static 'img/profile-icon.svg' %}" 
              alt="Profile" 
              class="nav-icon">
      </a>
  </div>
</div>

/* Navigation bar */
.navigation-bar {
    position: fixed;
    bottom: 45px; /* Отступ от низа */
    left: 50%;
    transform: translateX(-50%);
    width: 308px;
    height: 60px;
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Тень */
    z-index: 1;
}

/* Navigation icons */
.navigation-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px; /* Расстояние между иконками */
}

/* Navigation icon */
.nav-icon {
    transition: transform 0.3s ease;
}

/* Hover эффект */
.nav-icon:hover {
    transform: scale(1.1); /* Увеличение иконки */
}

/* Размер для активной иконки */
.nav-link.active .map-icon{
    width: 48px;
    height: 48px;
}

/* Активная иконка: цвет #FFCE00 */
.nav-link.active .nav-icon {
    filter: none; /* Убираем серый фильтр */
    filter: brightness(0) saturate(100%) invert(68%) sepia(97%) saturate(642%) hue-rotate(0deg) brightness(104%) contrast(101%);
}

/* Hover эффект с изменением цвета */
.nav-icon:hover {
    transform: scale(1.1);
    filter: brightness(0) saturate(100%) invert(68%) sepia(97%) saturate(642%) hue-rotate(0deg) brightness(104%) contrast(101%);
}


@media (max-width: 600px) {

    /* Navigation bar */
    .navigation-bar {
        bottom: 35px; 
        width: 308px;
        height: 60px;

    }


}





