{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/template.css' %}">
  {% block css %}{% endblock %}
  <script src="https://telegram.org/js/telegram-web-app.js"></script>
  <script src="{% static 'js/template.js' %}" defer></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgbvovrqfj2NWfE2Zaddhmkng-O5bXzYw&callback=initMap" defer></script>
</head>

<body>

  {% block header %}
    {% include 'header.html' %}
  {% endblock %}

  {% block navigation_bar %}
    {% include 'nav_bar.html' %}
  {% endblock %}

  <main>
    {% block content %}
    <!-- Сюда будет подставляться контент из других страниц -->
    {% endblock %}
  </main>
    
</body>
</html>